$main-color-white: #FFFFFF;
$main-color-FAFAFA: #FAFAFA;
$main-color-F6F6F6: #F6F6F6;
$main-color-F1CDB3: #F1CDB3;
$main-color-545454: #545454;
$main-color-FDDCC4: #FDDCC4;
$main-color-292929: #292929;
$main-color-CDCDCD: #CDCDCD;

$header-color-F1CDB3: #F1CDB3;
$header-color-292929: #292929;
$header-color-545454: #545454;
$header-color-black: #000000;
$header-color-6e6565: #6e6565;

$footer-color-white: #FFFFFF;
$footer-color-F1CDB3: #F1CDB3;

